:host {
  display: flex;
  flex-grow: 1;
  /* background-color: #f0fff0; */
  background-color: #f4eded;
}

.submenu {
  display: flex;
  flex-grow: 1;
  background-color: lightskyblue;
  height: 20px;
}

.body-style {
  flex-grow: 1;
  padding: 20px;
}
